In [70]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
import yaml
from yaml import Loader

class DatabaseConnector:
    def __init__(self):
        self.yaml_file = open('db_creds.yaml', 'r')
        self.data = yaml.load(self.yaml_file, Loader=Loader)

    def read_db_creds(self):
        self.yaml_file
        self.data
        return self.data

    def init_db_engine(self):
        read_db = DatabaseConnector.read_db_creds(self)
        return create_engine(f"postgresql+psycopg2://{read_db['RDS_USER']}:{read_db['RDS_PASSWORD']}@{read_db['RDS_HOST']}:{read_db['RDS_PORT']}/{read_db['RDS_DATABASE']}")

    def list_db_tables(self):
        data = DatabaseConnector.read_db_creds(self)
        with psycopg2.connect(host=data['RDS_HOST'], user=data['RDS_USER'], password=data['RDS_PASSWORD'], dbname=data['RDS_DATABASE'], port=data['RDS_PORT']) as conn:
            with conn.cursor() as cur:
                cur.execute('''SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';''')
                for table in cur.fetchall():
                    print(table)

    def read_db_table(self):
        data = DatabaseConnector.read_db_creds(self)
        con = psycopg2.connect(user = data['RDS_USER'], password = data['RDS_PASSWORD'], host = data['RDS_HOST'], port = data['RDS_PORT'], database = data['RDS_DATABASE'])
        engine = DatabaseConnector.init_db_engine(self)
        sql = 'SELECT * FROM legacy_users LIMIT 5;'
        df = pd.read_sql_query(sql,con)
        return df

    

final = DatabaseConnector()
final.read_db_table()

C:\Users\amith\AppData\Local\Temp\ipykernel_7176\738110546.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql,con)

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579